* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6fb;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: linear-gradient(180deg, #3b82f6, #1e40af);
  color: white;
  padding: 20px;
  animation: slideIn 1s ease;
}

.logo {
  margin-bottom: 30px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover,
.sidebar .active {
  background: rgba(255, 255, 255, 0.2);
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  animation: fadeDown 1s ease;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
  animation: zoomIn 0.8s ease;
}

.card p {
  font-size: 32px;
  margin-top: 10px;
}

.card.danger {
  border-left: 6px solid red;
}

/* TASKS */
.tasks {
  background: white;
  padding: 25px;
  border-radius: 16px;
  animation: fadeUp 1s ease;
}

.task {
  padding: 15px;
  margin-top: 15px;
  border-left: 5px solid #3b82f6;
  background: #f9fafb;
  border-radius: 8px;
  transition: 0.3s;
}

.task:hover {
  transform: translateX(8px);
}

.task.late {
  border-left-color: red;
}

/* ANIMATIONS */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.page {
  display: none;
  animation: fadeUp 0.6s ease;
}

.page.active {
  display: block;
}
